/* css/loader.css */
.loading-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.loading-container img {
    width: 150px;
    height: auto;
}
